{
   "extends": ["./node_modules/@toba/develop/.eslintrc"],
   "rules": {
      "dot-notation": "off",
      "no-console": "off",
      "no-continue": "off",
      "no-underscore-dangle": "off",
      "no-param-reassign": "off",
      "prefer-destructuring": "off"
   },
   "env": {
      "browser": true,
      "node": true
   }
}
